[submodule "lune-src"]
	path = lune-src
	url = https://github.com/filiptibell/lune.git

[submodule "package/appimage/pkg2appimage"]
	path = package/appimage/pkg2appimage
	url = https://github.com/CompeyDev/pkg2appimage.git

[submodule "homebrew-core"]
	path = homebrew-core
	url = https://github.com/Homebrew/homebrew-core.git
