Package: lune
Version: 0.7.11
Maintainer: Erica Marigold <hi@devcomp.xyz>
Depends: glibc-source
Architecture: amd64
Homepage: http://lune-org.github.io/docs
Description: A standalone Luau script runtime
